*.csv
*.pyc
*.cpython-311.pyc
*.bat
*.json
*.xlsx
*.parquet
*.json
*.bat
*.pkl
*.spec
*.ipynb
*.npy
*.npz
*.pkl
*.pkl.gz
*.pem
*.zip
docs/*
build/*
dist/*
__pycache__/*
db/*
experiments/*
model/*
build_deps/*
build_deps_old/*
data_text_search_amplify_app/*