*.csv
*.pyc
*.cpython-311.pyc
*.cpython-310.pyc
*.bat
*.json
*.xlsx
*.parquet
*.json
*.bat
*.pkl
*.spec
*.ipynb
*.npy
*.npz
*.pkl
*.pkl.gz
*.pem
build/*
dist/*
__pycache__/*
db/*
experiments/*
model/*
build_deps/*
build_deps_old/*